* {
    box-sizing: border-box;
}

.select {
    display: inline-block;
    margin: 0 5px;
    position: relative;
    white-space: nowrap;
    color: #666;
}

.title {
    min-width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.title .iconfont {
    font-size: 16px;
    transition: 0.25s;
}

.options {
    max-height: 300px;
    min-width: 100%;
    padding: 0;
    margin: 0;
    font-size: 13px;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    position: absolute;
    top: 50px;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(auto-fit, 20px);
    gap: 10px 25px;
    justify-items: start;
    
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scaleY(0);
    transform-origin: center -10px;
    opacity: 0;
    transition: 0.25s;
}

.options li {
    cursor: pointer;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 5px;
}

.options::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 70px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
    background: rgb(255, 255, 255);
}

/* 特殊的样式 */
.options li.active {
    background: #eec05a;
}

.select.expand .options {
    transform: scaleY(1);
    opacity: 1;
}

.select.expand .iconfont {
    transform: rotateZ(180deg);
}

.select.disabled {
    color: #ccc;
}

.select.disabled .title{
    cursor: no-drop;
}